h3{
    font-size: 40px !important;
    color: red;
    font-family: cursive;
}

.btn-success:hover{
  background-color:aquamarine ;  
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
 from{box-shadow:1px 1px 60px coral;}
 to{box-shadow:1px 1px 60px mediumspringgreen;}
}

button{
    font-size: 30px;
    font-family: fantasy;
    background-color: dodgerblue;
    color: firebrick;
}